{% extends "blog/base.html"%}
{% load crispy_forms_tags %}
{% block content %}
{% for post in posts%}
<article class="media content-section">
    <div>
        <div class="media-body">
            <img width=10% src="{{post.author.profile.image.url}}">
        </div>
        <div class="article-metadata">
            <a class="mr-2" href="{% url 'user-posts-list' user.id %}">{{ post.author }}</a>
            <small class="text-muted">Date Posted - {{ post.date_posted |date:"F d, Y"}}</small>
            <br>
            {% if post.author == user %}
            <a class="btn btn-secondary btn-sm mt-1 mb-1 ml-1" href="{% url 'post-update' post.id %}">Update Post</a>
            <a class="btn btn-danger btn-sm mt-1 mb-1 ml-1" href="{% url 'post-delete' post.id %}">Delete Post</a>
            {% endif %}
            
        </div>
        <h2>{{ post.title }}</h2>
        <p class="article-content">{{ post.content }}</p>
    </div>
</article>
<h2>Comment Section</h2>
{% for comment in comments %}

<div class="media-body">
    <img width=10% src="{{comment.author.profile.image.url}}">
</div>
<div class="article-metadata">
    <a class="mr-2">{{ comment.author }}</a>
</div>
<article class="media content-section">
    <div class="article-metadata">
        <p>{{comment.comment}}</p>
    </div>
</article>

{% endfor %}
{% endfor %}
<div class="content-section">
    <form method="POST">
        {% csrf_token %}
        <fieldset class="form-group"></fieldset>
        <div class="form-group">
            <legend class="border-bottom">Add Comment</legend>
            {{ form|crispy }}
        </div>
        </fieldset>
</div>
<div class="form-group">
    <button class="btn btn-outline-info" type="submit">Submit</button>
</div>
</form>
</div>
{% endblock content %}