{% extends "blog/base.html"%}
{% block content %}
<div class="content-section">
    <form method="POST">
        {%csrf_token%}

        <div class="form-group">
            <legend class="border-bottom">Delete Post</legend>
            <h2>Are you sure you want to delete the post "{{ post.title }}"</h2>
        </div>
        <div class="form-group">
            <button class="btn btn-outline-danger" type="submit">Delete</button>
            <a class="btn btn-outline-secondary" href="{% url 'post-detail' post.id %}">Cancel</a>
        </div>
    </form>

</div>
{% endblock content %}