{% extends "blog/base.html" %}
{% load crispy_forms_tags %} 
{% block content %}
	<div class='content-section'>
		<form method = "POST">
			{% csrf_token %}
			<fieldset class='form-group'>
				<legend class='border-bottom mb4'>LOG IN</legend>
				{{ form|crispy }}
			</fieldset>
			<div class='form-group'>
				<button class="btn btn-outline-info" type="submit">Login</button>
				
				<div>
					<h1> Welcome </h1>
					<div class="login">
						<a class="btn btn-outline-info" title="Google" href="/accounts/google/login/?process=login" >Login with Google</a><br>
					</div>
				<div>	
				
			</div>
			
		</form>
		<div class="border-top pt-3">
			<small class="text-muted">
				Need an account? <a class="ml-2" href="{% url 'register' %}">Sign Up Now</a>
			</small>
		</div>
			
	</div>
{% endblock content %}