{% extends "blog/base.html"%}
{% load crispy_forms_tags %}
{% block content %}
<div class="content-section">
    <div class="login">
    <a class="btn btn-outline-info" title="Google" href="/accounts/google/login/?process=login" >Register with Google</a><br>
    <h5>you'll be given a random username! you can change it in your profile after you've succesfully registered</h5>
    </div>
    <form method="POST">
        {% csrf_token %}
        <fieldset class="form-group"></fieldset>
        <div class="form-group">
            <legend class="border-bottom">Join Now</legend>
            {{ form|crispy }}
        </div>
        </fieldset>

</div>
<div class="form-group">
    <button class="btn btn-outline-info" type="submit">Sign Up</button>
</div>
</form>

<div>
    <div class="border-top pt-3">
        <small class="text-muted">
            Already Have An Account?<a class="ml-2" href="{% url 'login' %}">Sign In</a>
        </small>
    </div>
</div>
</div>
{% endblock content %}
